/* .C1{
    position:relative;
    height: 80vh;
    background-color: dodgerblue;
    width: 80%;
    margin: auto;
    top: auto;
    bottom: auto;
    justify-content: center;
    align-items: center;
    display: block;
    


} */

.container{
    height: 30vw;
    position: relative;
    width: 60%;
    background-color: chartreuse;
    margin: auto;
    top: 18vh;
    bottom: auto;
    justify-content: center;
    align-items: center;
    display: block;
    
}

.newQuote{
    position: absolute;
    width: 100%;
    height: 5vw;
    bottom: 0px;
    background-color: black;
    color: white;
    font-size: 2vw;
}

.author{
    position: absolute;
    bottom: 20%;
    right: 10%;
    font-size: 2.5vw;
   

}

.text{
    position: absolute;
    top:15%;
    left: 15%;
    font-size: 3vw;
    margin: 3px;
}



.Quotes{
    position: absolute;
    top:10px;
    left : 30px;
}